.header {
  width: 100%;
  padding: 32px;
}

.wrap {
  max-width: var(--width-wrap);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 36px;
  justify-content: center;
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-style: normal;
}