.heroGrind {
  width: 100%;
  padding-bottom: 38px;
}

.title {
  font-size: 48px;
  width: fit-content;
  border-bottom: 3px solid var(--color-border);
  line-height: 0.7;
}

.recentCardWrap {
  line-height: 1.9;
  width: 395px;
}

.heroGrindWrap {
  display: flex ;
  justify-content: space-between;
  padding-top: 57px;
}

.cardWrap {
  width: 395px;
}

.text {
  font-size: 32px;
  width: fit-content;
  border-bottom: 3px solid var(--color-border);
  line-height: 0.7;
}

