.entertainment {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
.top_section {
  width: 100%;
  border-bottom: 5px solid var(--color-border);
  padding-bottom: 38px;
}

.topSectionWrap {
  display: flex;
  justify-content: space-between;
  padding-top: 57px;
}

.head_line_news {
  align-items: center;
}

.title {
  font-size: 48px;
  width: fit-content;
  border-bottom: 3px solid var(--color-border);
  line-height: 0.7;
}

.text {
  font-size: 32px;
  width: fit-content;
  line-height: 0.7;
  border-bottom: 3px solid var(--color-border);
}

.wrap {
  border-bottom: 0 !important;
}