.main_hero {
  width: var(--width-wrap);
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 123px;
}

.top_section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid var(--color-border);
  padding-bottom: 38px;
}

.mid_section {
  width: 100%;
}