.news_card {
  display: flex;
  flex-direction: column;
}

.news_card_box {
  display: flex;
  flex-direction: column;
}

.headline {
  font-size: 24px;
}

.story {
  font-size: 20px;
  line-height: 1.1;
}

.newsCardWrap{
  padding-top: 16px;
}