.right_section {
  width: 395px;
  border-top: 3px solid var(--color-border) ;
  border-bottom:  3px solid var(--color-border);
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}